<h1>Migracioneslinks</h1>

<table class="responsive nowrap table table-hover" id="dttb-migracioneslinks" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="consecutivo">Consecutivo</th>
      <th data-data="user">User</th>
      <th data-data="archivo_id">Archivo</th>
      <th data-data="identificacion">Identificacion</th>
      <th data-data="nro_obligacion">Nro obligacion</th>
      <th data-data="valor">Valor</th>
      <th data-data="mensaje">Mensaje</th>
      <th data-data="persona_id">Persona</th>
      <th data-data="personasobligacion_id">Personasobligacion</th>
      <th data-data="estado">Estado</th>
      <th data-data="error">Error</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

