$(".alert_flash").fadeOut(1000, function() {
	$(this).remove();
});

<% if @persona.controles.count == 0 %>
	$("#controles").html("<div class='alert alert-warning'><h4><i class='icon fa fa-info'></i> <%=t :atencion%></h4><%=t :atencion_msj%><span></div>");
<% else %>
	$("#control_<%= @control.id %>").remove();
<% end %>

$(".flash_messages").html("<%= j render 'layouts/flash_messages' %>");

setTimeout(function() {
	$(".alert_flash").fadeOut(1000, function() {
		$(this).remove();
	});
}, 5000);

$('.tooltip').tooltip('hide');