<div class="table-responsive">
  <table class="table table-bordered table-condensed table-striped">
	  <thead>
		<tr class="thcolor">
			<th width="8%"></th>
			<th>Datos Giros</th>
		</tr>
	  </thead>
	  <tbody id="tbody_personasgiros">
	    <%  @i = 0
		    @persona.personasgiros.order('updated_at DESC, id DESC').each do |personasgiro| 
		    @i = @i + 1
		%>
	       <%= render 'personasgiros/tr', personasgiro: personasgiro %>
	    <% end %>
	  </tbody>
	</table>
</div>