<h1>Ejecuciones</h1>

<table class="responsive nowrap table table-hover" id="dttb-ejecuciones" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="user">User</th>
      <th data-data="procedimiento">Procedimiento</th>
      <th data-data="descripcion">Descripcion</th>
      <th data-data="inicioejecucion">Inicioejecucion</th>
      <th data-data="finejecucion">Finejecucion</th>
      <th data-data="estado">Estado</th>
      <th data-data="observacion">Observacion</th>
      <th data-data="tiempoejecucion">Tiempoejecucion</th>
      <th data-data="procesamiento_id">Procesamiento</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

