<h1>Infgruposcampos</h1>

<table class="responsive nowrap table table-hover" id="dttb-infgruposcampos" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="infgrupo">Infgrupo</th>
      <th data-data="orden">Orden</th>
      <th data-data="nombre">Nombre</th>
      <th data-data="campo">Campo</th>
      <th data-data="estilo">Estilo</th>
      <th data-data="tipo">Tipo</th>
      <th data-data="tamano">Tamano</th>
      <th data-data="estilo_encabezado">Estilo encabezado</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

