<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <%= render 'layouts/flash_messages' %>
  </section>
  <!-- /.content header -->

  <section class="content">

    <%= yield %>

  </section>
</div>
