<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
   <title>...G-Intac...</title>
    <style type="text/css" media="screen">
      h3 { color: #7185B9; }
      ul { list-style: none; }
      #some-id { font-size:2em; }
      .some-class { color:red; }
    </style>
</head>

<body>
<img src="http://190.0.34.154:6001/images/logo_g_intac.png"/>
<br/><br/><br/>
<div align="justify" style="font-size: 15px; font-family: Verdana, Geneva, sans-serif;">
Apreciado Beneficiario:<br/><br/>
En el presente correo estamos adjuntando la comunicación que detalla el Plan de Amortización del crédito que tiene vigente, originado en Fondo Medellín EPM.<br/><br/>
La comunicación, aquí adjunta, también fue remitida en físico a la última dirección por usted reportada.<br/><br/>
G-Intac agradece su compromiso y el cumplimiento de sus obligaciones que le permitirán a otras personas tener acceso a su proyecto de Educación Superior.<br/><br/>
Cordialmente,<br/><br/><br/>
<strong>RICARDO GIL PADILLA.<br/>
Director Técnico de Fondos de Educación Superior<br/>
Agencia Educación Superior-G-Intac-
</strong>
</div>
<br/><br/>
<div align="justify" style="font-size: 11px; font-family: Verdana, Geneva, sans-serif;">
  <strong>S I S - Sistema de Informacion G-Intac- <%=Time.now.strftime("%Y-%m-%d %X")%><br/>***Por favor no conteste este mensaje, ha sido enviado desde un e-mail automático y no recibirá respuesta.***</strong>
</div>
</body>
</html>