<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
   <title>...G-Intac...</title>
    <style type="text/css" media="screen">
      h3 { color: #7185B9; }
      ul { list-style: none; }
      #some-id { font-size:2em; }
      .some-class { color:red; }
    </style>
</head>
<body>
<img src="http://190.0.34.154:6001/images/logo_g_intac.png"/>
<br/><br/><br/>
<div align="justify" style="font-size: 15px; font-family: Verdana, Geneva, sans-serif;">
Apreciado Beneficiario:<br/><br/>
En el presente mes inicia la etapa final de amortización del crédito educativo que tiene vigente originado con recursos del Fondo Medellín EPM. En el archivo adjunto a este correo encontrará las condiciones de pago establecidas, de acuerdo con las disposiciones normativas vigentes.<br/><br/>
La Agencia de Educación Superior de Medellín - G-Intac y los jóvenes que carecen de los recursos suficientes para emprender su proyecto de educación superior, cuentan con su compromiso de pago, atendiendo oportunamente cada una de las cuotas definidas en su plan de pagos, estos dineros se destinarán a financiar el acceso a la educación superior a estos nuevos beneficiarios.<br/><br/>
Cordialmente,<br/><br/><br/>
<strong>AGENCIA DE EDUCACIÓN SUPERIOR DE MEDELLÍN<br/>
G-Intac
</strong>
</div>
<br/><br/>
<div align="justify" style="font-size: 11px; font-family: Verdana, Geneva, sans-serif;">
  <strong>S I S - Sistema de Informacion G-Intac- <%=Time.now.strftime("%Y-%m-%d %X")%><br/>***Por favor no conteste este mensaje, ha sido enviado desde un e-mail automático y no recibirá respuesta.***</strong>
</div>
</body>
</html>