<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
   <title>...G-Intac...</title>
    <style type="text/css" media="screen">
      h3 { color: #7185B9; }
      ul { list-style: none; }
      #some-id { font-size:2em; }
      .some-class { color:red; }
    </style>
</head>

<body>
<img src="http://190.0.34.154:6001/images/logo_g_intac.png"/>
<br/><br/><br/>
<div align="justify" style="font-size: 15px; font-family: Verdana, Geneva, sans-serif;">
<strong>Apreciado Beneficiario Fondo Medellín EPM:</strong><br/><br/>
La Agencia de Educación Superior de Medellín - G-Intac emitió Resolución en la que Consolida el Estado actual de su Deuda, originada con los recursos prestados a través de crédito educativo del Fondo Medellín EPM.<br/><br/>
En la resolución se informan valores girados, valores pagados, el valor de la condonación a que tiene derecho y el valor final a pagar (Deuda Total).<br/><br/>
En el archivo adjunto podrá leer los detalles de su citación para ser notificado.<br/><br/>
Cordialmente,<br/><br/><br/>
<strong>AGENCIA DE EDUCACIÓN SUPERIOR DE MEDELLÍN - G-Intac<br/>
Tranversal 73 # 65 - 296 Sector El Volador, Medellín<br/>
Teléfono 4447947 ext. 140
</strong>
</div>
<br/><br/>
<div align="justify" style="font-size: 11px; font-family: Verdana, Geneva, sans-serif;">
  <strong>S I S - Sistema de Informacion G-Intac- <%=Time.now.strftime("%Y-%m-%d %X")%><br/>***Por favor no conteste este mensaje, ha sido enviado desde un e-mail automático y no recibirá respuesta.***</strong>
</div>
</body>
</html>