<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
   <title>...G-Intac...</title>
    <style type="text/css" media="screen">
      h3 { color: #7185B9; }
      ul { list-style: none; }
      #some-id { font-size:2em; }
      .some-class { color:red; }
    </style>
</head>

<body>
<img src="http://190.0.34.154:6001/images/logo_g_intac.png"/>
<br/><br/><br/>
<div align="justify" style="font-size: 15px; font-family: Verdana, Geneva, sans-serif;">
Apreciado Beneficiario:<br/><br/>
Adjunto al presente correo, estamos remitiendo la comunicación con aprobación a la ampliación del plazo de amortización de su crédito.<br/><br/>
Las nuevas condiciones de financiación son informadas en esta comunicación, recuerde que el primer pago se debe realizar antes del día 30 del presente mes.<br/><br/>
A la dirección por usted reportada debe estar llegando la factura, en caso contrario recuerde actualizar la dirección en las Oficinas de G-Intac.<br/><br/>
G-Intac lo invita a cumplir con el plan de pagos aprobado y le recuerda que con los pagos oportunos de su crédito le permitirá a nuevos beneficiarios tener acceso a su proyecto de educación superior.<br/><br/>
Cordialmente,<br/><br/><br/>
<strong>CARTERA<br/>
Agencia Educación Superior-G-Intac-
</strong>
</div>
<br/><br/>
<div align="justify" style="font-size: 11px; font-family: Verdana, Geneva, sans-serif;">
  <strong>S I S - Sistema de Informacion G-Intac- <%=Time.now.strftime("%Y-%m-%d %X")%><br/>***Por favor no conteste este mensaje, ha sido enviado desde un e-mail automático y no recibirá respuesta.***</strong>
</div>
</body>
</html>