<div id="tbody_personasobligaciones">
  <%
    @persona.personasobligaciones.each do |personasobligacion| %>
     <%= render '/personasobligaciones/tr', personasobligacion: personasobligacion %>
   <% end %>  
</div>