<h1>Infgrupos</h1>

<table class="responsive nowrap table table-hover" id="dttb-infgrupos" data-sort="true" data-source="<%= url_for(format: :json)%>">
  <thead>
    <tr>
      <th data-data="nombre">Nombre</th>
      <th data-data="nombre_archivo">Nombre archivo</th>
      <th data-data="estado">Estado</th>
      <th data-data="clase">Clase</th>
      <th data-data="consulta">Consulta</th>
      <th data-data="url" data-orderable="false" data-class-name="all" data-searchable="false" class="skip-export" width="100px"></th>
    </tr>
  </thead>

</table>

<br>

