<h1>500 Error</h1>
<p class="zoom-area">Se acaba de presentar un problema en el procedimiento, por favor reportar al <b>administrador</b>.
</p>
<div style="text-align: center"><p class="zoom-area"><%= Time.now.strftime("%Y-%m-%d %H:%M:%S %p") %></p></div>
<div style="text-align: center;">
  <img src="https://minotauro.sapiencia.gov.co/images/logo_sapiencia.png" alt="Sluralpright" height="250" width="310"/>
</div>
<div class="link-container">
  <%= link_to root_path, class: "more-link",style: "background-color: black;" do %>
    Pagina anterior
  <% end %>
</div>


