<div class="table-responsive">
  <table class="table table-bordered table-condensed table-striped">
	  <thead>
		<tr class="thcolor">
			<th width="15%"></th>
			<th class="text-center">Fecha</th>
			<th>Telefono</th>
			<th>Ciudad</th>
			<th>Observacion</th>
		</tr>
	  </thead>
	  <tbody id="tbody_personastelefonos">
	    <% @persona.personastelefonos.order('updated_at DESC, id DESC').each do |personastelefono| %>
	       <%= render 'personastelefonos/tr', personastelefono: personastelefono %>
	    <% end %>
	  </tbody>
	</table>
</div>
