@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";
@import 'simple_form_autocomplete';
@import url('nav.scss.erb');

.remove_form_new{
  display: none;
}

.style-recaptcha {
  background-color: #00205B;
  height: 40px;
  border-color: #00205B;
  color: white;
  width: 100%;
  border-radius: 5px;
  cursor: pointer
}

.style-recaptcha:hover {
  background-color: #04348C;
  height: 40px;
  border-color: #00205B;
  color: white;
  width: 100%;
  border-radius: 5px;
  cursor: pointer
}


.thcolorinfo {
  background: #24AAE9;
  color: #fff;
}

.thcolorgris {
  background: #ABB2B9 !important;
  color: #fff;
}

.thcolorred {
  background: #dd4b39 !important;
  color: #fff;
}

.thcolororange {
  background: #ff851b !important;
  color: #fff;
}

.thcolorgreen {
  background: #00a65a !important;
  color: #fff;
}

.thcolorgray {
  background: #CCCCCC !important;
  color: #000;
}

.thcolorgray2 {
  background: #979797 !important;
  color: #fff;
}


.divper {
  background: #fff;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid #ccc !important;
}

.tdcolorgris {
  background: #BDBDBD;
  color: #000;
  padding: 5px;
}

.camrednormal {
  background: #ffcccc;
  color: #ff0000;
}

.camredcenter {
  background: #ffcccc;
  text-align: center;
  color: #ff0000;
}

.tabin {
  background: #ffcccc;
  text-align: left;
  color: #ff0000;
}

.tabac {
  background: #ccffe6;
  text-align: left;
  color: #009900;
}

.tabter {
  background: #f39c12;
  text-align: left;
  color: #fff;
}


/* Credit to bootsnipp.com for the css for the color graph
 ESTO SOLO ES PARA EL FORMULARIO DE LOGIN
*/
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/*
.skin-blue-light .sidebar-menu>li.active>a {
  background-color: #20447d !important;
  color: #fff !important;
}

.skin-blue-light .nav-tabs-custom > .nav-tabs > li.active {
  background-color: #20447d !important;
}
*/


.divnoti {
  position: fixed;
  z-index: 9999;
  left: 10px;
  bottom: 45px;
  min-width: 10%;
  font-weight: bold;
}

.cab {
  background: #D7D7D7;
  color: #000;
  font-size: 12px;
  font-weight: bold;
}

.tit {
  background: #EDEDED;
  color: #000;
  font-size: 10px;
  padding: 2px;
}

.gast {
  background: #FCF2F2;
  color: #000;
  font-size: 10px;
  padding: 2px;
}

.fotos {
  width: 165px;
  height: 165px;
  float: left;
  margin: 5px;
}


/* CLASES PARA COLOCAR TEXTO VERTICAL */
th.rotate {
  height: 140px;
  white-space: nowrap;
}

th.rotate > div {
  transform: translate(2px, 260px) rotate(-90deg);
  width: 20px;
}

th.rotate > div > span {
  padding: 5px 10px;
}

.btn-experiencia {
  background-color: rgb(100, 189, 177);
  border-color: rgb(100, 189, 177);
  color: #fff;
}

.btn-danger:hover, .btn-danger:active, .btn-danger.hover {
  background-color: rgb(100, 189, 177);
}

.text-table {
  font-size: 11px;
}

.status_pendiente {
  width: 63%;
  background-color: #ff851b;
  color: #fff;
  border-radius: 0px 20px 80px 0px;
  padding: 5px;
}

.status_aprobado {
  width: 63%;
  background-color: #00a65a;
  color: #fff;
  border-radius: 0px 20px 80px 0px;
  padding: 5px;
}

.status_rechazado {
  width: 63%;
  background-color: #dd4b39;
  color: #fff;
  border-radius: 0px 20px 80px 0px;
  padding: 5px;
}

.graphic_container {
  min-width: 280px;
  height: 370px;
  margin: 0 auto
}

.div_container_programa {
  border: 1px solid #20447d;
  margin-top: 5px;
  margin-bottom: 3px;
}

.container_table_margin {
  margin-bottom: 0px;
}

.legent_title_programas {
  margin-top: -16px;
  margin-left: 1px;
}

.box-solid-margin {
  margin-top: -19px;
}

.style-gestor-img {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 800;
}

.view-queja {
  display: none;
}

.select2 {
  width: 100% !important;
}