<div class="box">
  <div class="box-header">
    <h3>¡Hola <%= @resource.nombre %>!</h3>
  </div>
  <div class="box-body">
    <p>Has solicitado cambiar tu contraseña. Puede hacerlo a través del siguiente enlace:</p>

    <p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token), class: 'btn btn-warning' %></p>

    <p>Si crees que es un error o solicitaste cambiar tu contraseña, ignore este correo electrónico.</p>
    <p>Tu contraseña no cambiará hasta que accedas al enlace anterior y crees una nueva.</p>
  </div>
</div>
